src/av-browser/content-directory-service.h
src/av-browser/gupnp-av-browser
src/av-cp/gupnp-av-cp
src/network-light/gupnp-network-light
src/universal-cp/gupnp-universal-cp
src/upload/gupnp-upload

*.a
*.o
.deps
Makefile
Makefile.in
data/*.desktop
data/*.desktop.in

aclocal.m4
config.*
autom4te.cache
configure
depcomp
install-sh
libtool
ltmain.sh
missing
mkinstalldirs
stamp-*
